/*
Errno::ENOENT: No such file or directory @ rb_sysopen - scss/style.scss

Backtrace:
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:454:in `read'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:294:in `watch'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin.rb:109:in `method_missing'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/




.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }



.clearfix:after {
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.content {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#metodologia{
  background-color: #13113c;
}

/*mano de poker*/

poker-hand {
  display: flex;
  flex-orientation: row;
  justify-content: center;
  padding: 25vh 30vw;
}
poker-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  display: block;
  padding: 30px 0;
  flex: 0 0 50px;
  text-align: center;
  border-radius: 5px;
  font-family: courier;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0px;
  position: relative;
  border: 1px solid #ddd;
  color: #666;
  transition-duration: 0.4s;
  background: #fff;
  -webkit-animation: pop 0.4s;
  animation: pop 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
poker-card:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
poker-card:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
poker-card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
poker-card:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
poker-card:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

poker-card:after,
poker-card:before {
  position: absolute;
  color: #000;
  font-size: calc(2vh + 1vw);
}
poker-card:after {
  top: 2px;
  right: 5px;
}
poker-card:before {
  bottom: 2px;
  left: 5px;
}
body poker-card:hover {
  -webkit-transform: scale(1.5) translateY(-10%);
  transform: scale(1.5) translateY(-10%);
  cursor: pointer;
  box-shadow: 0 10px 15px -5px rgba(0,0,0,0.3);
  -webkit-transform-origin: inherit;
  transform-origin: inherit;
  z-index: 10;
}
.♣:before,
.♣:after {
  content: '♣';
}
.♠:before,
.♠:after {
  content: '♠';
}
.♦:before,
.♦:after {
  content: '♦';
}
.♥:before,
.♥:after {
  content: '♥';
}
.♦:before,
.♦:after {
  color: #f00;
}
.♥:before,
.♥:after {
  color: #f00;
}
poker-card:nth-child(1) {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
poker-card:nth-child(2) {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
poker-card:nth-child(3) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
poker-card:nth-child(4) {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
poker-card:nth-child(5) {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

label[for='uno'] {
  content: url(https://www.google.com/images/srpr/logo11w.png);
  width: 32px;
  height: 32px;
}
